@import "tailwindcss";

@theme inline {
  --font-sans:
    var(--font-general-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
