---
import Layout from "../layouts/Base.astro";
import BookmarksList from "../components/BookmarksList.astro";
---

<Layout
  title="Bookmarks - Ray Arayilakath"
  description="Links and articles saved by Ray Arayilakath."
>
    <h2 class="text-[20px] leading-[22px] font-semibold">Bookmarks</h2>
    <BookmarksList />
</Layout>
