---
import Layout from "../layouts/Base.astro";
---

<Layout
  title="Ray Arayilakath - Software Engineer"
  description="Platform Engineer @ Million (YC W24). Previously at Replit, Deel. 5+ years of experience growing engineering at YC-backed startups."
>
    <p>Hello, world!</p>
</Layout>
