---
import Layout from "../layouts/Base.astro";
import Header from "../components/Header.astro";
---

<Layout
  title="Ray Arayilakath - Software Engineer"
  description="Platform Engineer @ Million (YC W24). Previously at Replit, Deel. 5+ years of experience growing engineering at YC-backed startups."
>
  <main class="flex flex-col items-center justify-center flex-1">
    <Header />
  </main>
</Layout>
