---
import Layout from "../layouts/Base.astro";
import Writings from "../components/Writings.astro";

export const prerender = true;
---

<Layout
  title="Ray Arayilakath - Software Engineer"
  description="Platform Engineer @ Million (YC W24). Previously at Replit, Deel. 5+ years of experience growing engineering at YC-backed startups."
>
  <section class="flex-1 mb-6 flex flex-col gap-4">
    <h2 class="text-[20px] leading-[22px] font-semibold">Writings</h2>
    <Writings />
  </section>
</Layout>
