---
const NAVIGATION = [
  { name: "About", href: "/about" },
  { name: "Work", href: "/work" },
  { name: "Reading", href: "/reading" },
];
---

<nav class="flex gap-3">
  {NAVIGATION.map((item) => (
    <a href={item.href} class="text-lg leading-5.5 no-underline">{item.name}</a>
  ))}
</nav>
